<p id="notice"><%= notice %></p>

<p>
  <strong>施工:</strong>
  <%= @user.name %>
</p>


<p>
  <img src=<%= @user.pict_url %>>
</p>

<p>
  <strong>タイプ:</strong>
  <%= render 'users/tag_list', tag_list: @user.skill_list %><br />
</p>

<p>
  <strong>担当:</strong>
  <%= render 'users/tag_list', tag_list: @user.interest_list %><br />
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
